:root {
    --green: #9FBE96;
    --red: #FF7E7E;
    --green-bright: #82be70;
    --red-bright: #FF4D4D;
    --white-rgb: 255, 255, 255;
    --text-color-1: rgba(var(--white-rgb), 0.9);
    --text-color-2: rgba(var(--white-rgb), 0.4);
    --text-color-3: rgba(var(--white-rgb), 0.2);

    --gap: 30px;
    --spacing-tiny: 5px;
    --spacing-small: 15px;
    --spacing-base: 30px;
    --spacing-large: 50px;
    --spacing-x-large: 80px;
    --spacing-xx-large: 120px;
    }

@font-face {
    font-family: Apercu;
    src: url(../../../static/fonts/apercupro/ApercuPro.woff2) format("woff2"), url(../../../static/fonts/apercupro/ApercuPro.woff) format("woff");
    }
@font-face {
    font-family: Apercu;
    font-weight: bold;
    src: url(../../../static/fonts/apercupro/ApercuPro-Bold.woff2) format("woff2"), url(../../../static/fonts/apercupro/ApercuPro-Bold.woff) format("woff");
    }
html{
    -webkit-text-size-adjust: 100%;
    }
body {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    background: #242526;
    font: 18px/28px Apercu, Helvetica, Arial, sans-serif;
    color: var(--text-color-1);
    }
a {
    text-decoration: none;
    color: var(--green);
    }
a:hover {
    color: var(--red);
    transition: color .25s;
    }
h1 {
    margin: 0 0 var(--spacing-base) 0;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    }
h2 {
    margin: var(--spacing-base) 0 var(--spacing-small) 0;
    font-size: 25px;
    line-height: 35px;
    font-weight: bold;
    }
h3 {
    margin: var(--spacing-base) 0 0 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    }
p {
    margin: 0 0 var(--spacing-base) 0;
    }
ul {
    margin: 0 0 var(--spacing-base) 0;
    }
    li {
        margin: 0 0 var(--spacing-small) 0;
        }
abbr {
    letter-spacing: .06em;
    margin-right: -.06em;
    text-decoration: none;
    }
table {
    border-spacing: 0;
    }
td, th {
    vertical-align: baseline;
    }