:root {
    --gap: 30px;
    --text-opacity-1: .9;
    --text-opacity-2: .5;

    --white-rgb: 255, 255, 255;
    --green: #9FBE96;
    --red: #FF7E7E;

    --spacing-tiny: 5px;
    --spacing-small: 15px;
    --spacing-base: 30px;
    --spacing-large: 50px;
    --spacing-x-large: 80px;
    --spacing-xx-large: 120px;
    }

@font-face {
    font-family: ApercuRegular;
    src: url(../../../static/fonts/apercupro/ApercuPro.eot);
    src: url(../../../static/fonts/apercupro/ApercuPro.eot?#iefix) format("embedded-opentype"), url(../../../static/fonts/apercupro/ApercuPro.woff) format("woff"), url(../../../static/fonts/apercupro/ApercuPro.ttf) format("truetype"), url(../../../static/fonts/apercupro/ApercuPro.svg) format("svg")
    }
@font-face {
    font-family: ApercuBold;
    src: url(../../../static/fonts/apercupro/ApercuPro-Bold.eot);
    src: url(../../../static/fonts/apercupro/ApercuPro-Bold.eot?#iefix) format("embedded-opentype"), url(../../../static/fonts/apercupro/ApercuPro-Bold.woff) format("woff"), url(../../../static/fonts/apercupro/ApercuPro-Bold.ttf) format("truetype"), url(../../../static/fonts/apercupro/ApercuPro-Bold.svg) format("svg")
    }
/* @font-face {
    font-family: ApercuLight;
    src: url(../../../static/fonts/apercupro/ApercuPro-Light.eot);
    src: url(../../../static/fonts/apercupro/ApercuPro-Light.eot?#iefix) format("embedded-opentype"), url(../../../static/fonts/apercupro/ApercuPro-Light.woff) format("woff"), url(../../../static/fonts/apercupro/ApercuPro-Light.ttf) format("truetype"), url(../../../static/fonts/apercupro/ApercuPro-Light.svg) format("svg")
    } */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    background: #262626;
    font: 18px/28px ApercuRegular, Helvetica, Arial, sans-serif;
    color: rgba(var(--white-rgb), var(--text-opacity-1));
    }
a {
    text-decoration: none;
    color: var(--green);
    }
a:hover {
    color: var(--red);
    transition: color .25s;
    }
h1 {
    margin: 0 0 var(--spacing-base) 0;
    font: 30px/40px ApercuBold, Helvetica, Arial, sans-serif;
    }
h2 {
    margin: var(--spacing-base) 0 var(--spacing-small) 0;
    font: 25px/35px ApercuBold, Helvetica, Arial, sans-serif;
    }
h3 {
    margin: var(--spacing-base) 0 0 0;
    font: 18px/28px ApercuBold, Helvetica, Arial, sans-serif;
    }
p {
    margin: 0 0 var(--spacing-base) 0;
    }
ul {
    margin: 0 0 var(--spacing-base) 0;
    }
    li {
        margin: 0 0 var(--spacing-small) 0;
        }